<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <label for="fname">MMID</label>
        </div>
        <div class="col-lg-3">
            <select id="country" name="country" multiple>
                <option value="australia">MMID-1</option>
                <option value="canada">MMID-2</option>
                <option value="usa">MMID-3</option>
              </select>
        </div>

        <div class="col-lg-3">
            <label for="fname">Card Payment</label>
        </div>
        <div class="col-lg-3">
            <input style="height: 40%;" type="text" id="lname" name="lastname"  >
        </div>
    </div>
</div>