.clr-blue {
    color: #0062cc !important;
}

.clr-white {
    color: #fff !important;
}

.clr-black {
    color: #000 !important;
}

.clr-danger {
    color: #dc3545 !important
}

.clr-gray {
    color: #514f4f !important;
}

// ===> background colors <== //
.bgclr-blue {
    color: #0062cc !important;
}

.bgclr-white {
    color: #fff !important;
}

.bgclr-black {
    color: #000 !important;
}

.bgclr-danger {
    color: #dc3545 !important
}