.cursor-pointer {
    cursor: pointer !important;
}

.outline-none {
    outline: none !important;
}

.loginForm {
    border: 1px solid #a7a3a3;
    border-radius: 5px;
}

.btnLink {
    color: #0062cc !important;
}

.btnLink:hover {
    text-decoration: underline !important;
    color: #0062cc !important;
    cursor: pointer !important;
}

.titleTxt {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 1em;
    color: rgba(10, 60, 150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    margin-bottom: 25px;
}

.errorMsg {
    color: #dc3545 !important;
    display: block !important;
    font-size: 11px !important;
    margin-top: -12px !important;
}

.tableTextCenter {
    thead {
        tr {
            th {
                text-align: center !important;
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center !important;
            }
        }
    }
}

.tableShadow {
    box-shadow: 0px 3px 9px 0px rgba(214, 210, 214, 1) !important;
}

.tableBgClr {
    thead {
        tr {
            th {
                background-color: #efefef;
            }
        }
    }
    tbody {
        tr {
            td {
                background-color: #f8f8f8;
            }
        }
    }
}

.tableHover {
    tbody {
        tr:hover {
            background-color: #efefef;
        }
    }
}

.tableWith-85 {
    width: 85% !important;
    display: block !important;
    margin: 0 auto !important;
}

.cursor-pointer {
    cursor: pointer;
}

.display-block {
    display: block !important;
}