// ===> Font Size <=== //
.font-18 {
    font-size: 18px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-30 {
    font-size: 30px !important;
}

// ===> Padding <=== //
.pt-6 {
    padding-top: 4rem !important;
}

// ===> Margin <=== //
.mt-7 {
    margin-top: 7rem !important;
}