// ===> Font Size <=== //
.font-18 {
    font-size: 18px !important;
}

.font-22 {
    font-size: 22px !important;
}

.font-24 {
    font-size: 24px !important;
}

.font-28 {
    font-size: 28px !important;
}

.font-30 {
    font-size: 30px !important;
}

// ===> Padding <=== //
.pt-6 {
    padding-top: 4rem !important;
}

// ===> Margin <=== //
.mt-7 {
    margin-top: 7rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mt-04 {
    margin-top: 4rem !important;
}

// ===> Font Weight <=== //
.font-weight-500 {
    font-weight: 500 !important;
}

@media screen and (min-device-width: 500px) and (max-device-width: 1080px) {
    .ml-md-5 {
        margin-right: 3rem !important;
    }
    .mr-md-5 {
        margin-right: 3rem !important;
    }
}