<div class="container">

    <h1 style="font-family: cursive;">Tank</h1>

    <table  style="width: 50%; margin-left: 20%;" class="table table-bordered userTable">
        <tr>
      
               
            <th>S.NO</th>
            <th>Name</th>
            <th>Product</th>
            <th>DipReading</th>
           
            
        </tr>
        <tr>
            <td>1.</td>
            <td>MMID1</td>
           <td>10000</td>
           <td>90</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>MMID2</td>
            <td>20000</td>
            <td>80</td>
           
        </tr>
        <tr>
            <td>3.</td>
            <td>MMID3</td>
            <td>30000</td>
            <td>50</td>
           
        </tr>
       
    </table>

</div>