<div class="container">

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Credit Customer

            </h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Credit Customer</li>
            </ol>

        </section>

        <br><br><br>
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="box-body">
                    <!-- small box -->
                    <table class="table table-bordered userTable">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Credit Amount</th>
                            <th style="width: 240px">Out Standing Balance</th>
                            <th style="width: 40px">Action</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Nandha</td>
                            <td>
                                Bangalore-560037
                            </td>
                            <td>Manager</td>
                            <td><i  style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Kishore</td>
                            <td>
                                Bangalore-560037
                            </td>
                            <td>Manager</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                                  
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Kishore1</td>
                            <td>
                                Bangalore-560037
                            </td>
                            <td>Manager</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Kishore1</td>
                            <td>
                                Bangalore-560037
                            </td>
                            <td>Manager</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <!-- /.row -->
        <section class="content-header">
            <h1>
                New Credit Customer

            </h1>

        </section>

        <div class="divContainer">

            <div class="row">
                <div class="col-md-3">
                    <label for="fname">Customer Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
            
            
        
                <div class="col-md-3">
                    <label for="lname">Email</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="lname">Mobile No</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
          
                <div class="col-md-3">
                    <label for="lname">Lanline No</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="lname">Start Date</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
         
                <div class="col-md-3">
                    <label for="lname">Opening Balance</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="lname">Cust GST No</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
           
                <div class="col-md-3">
                    <label for="lname">Credit Limit</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="lname">Sur Charge</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
       
                <div class="col-md-3">
                    <label for="lname">Birth Date</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="subject">Address</label>
                </div>
                <div class="col-md-3">
                    <textarea id="subject" name="subject" placeholder="Write something.."
                        style="height:100px"></textarea>
                </div>
           
                <div class="col-md-3">
                    <label for="country">Birth Date Alert</label>
                </div>
                <div class="col-md-3">
                    <input type="checkbox">
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Save">
                </div>
            </div>

        </div>

    </div>




</div>