<div class="container-fluid">
    <div class="offset-md-2 col-md-8 col-lg-8 offset-lg-2">
        <h1 class="mt-3">Sales</h1>
        <div class="row mb-3">
            <label for="name" class="mt-10 ml-5">Sales Date</label>
            <input type="date" placeholder="Enter Name" class="form-control col-md-3 ml-3" id="name" name="name">
        </div>
        <div class="col-12 mb-5">
            <table class="table table-bordered tableTextCenter tableBgClr tableShadow tableHover">
                <thead>
                    <tr>
                        <th *ngFor="let table_head of sales_table_head_list">{{table_head}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of table_data_Sales; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.name}}</td>
                        <td class="text-left">
                            <span *ngFor="let s of data.shift">{{s}},&nbsp;</span>
                        </td>
                        <td class="text-left">
                            <span *ngFor="let s of data.pump">{{s}},&nbsp;</span>
                        </td>
                        <td class="text-left">
                            <span *ngFor="let s of data.nozzle">{{s}},&nbsp;</span>
                        </td>
                        <td>{{data.totalSales}}</td>
                        <td>
                            <i class="fas fa-edit cursor-pointer clr-gray" matTooltip="Edit"></i>&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-trash cursor-pointer clr-gray" matTooltip="Delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>Add Sale</h1>
        <div class="divContainer form-group row">
            <div class="col-md-2 mb-3">
                <label for="pPerson" class="mt-10 ml-4">Primary Person</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Primary Person" class="form-control" id="pPerson" name="pPerson">
            </div>
            <div class="col-md-2 mb-3">
                <label for="sPerson" class="mt-10 ml-4">Secondary Person</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Secondary Person" class="form-control" id="sPerson" name="sPerson">
            </div>
            <div class="col-md-2 mb-3">
                <label for="shift" class="mt-10 ml-4">Shift</label>
            </div>
            <div class="col-md-4 mb-3">
                <select class="form-control" id="shift" name="shift">
                    <option value="Shift-1">Shift-1</option>
                    <option value="Shift-2">Shift-2</option>
                    <option value="Shift-3">Shift-3</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="pump" class="mt-10 ml-4">Pump</label>
            </div>
            <div class="col-md-4 mb-3">
                <select class="form-control" id="pump" name="pump">
                    <option value="Pump-1">Pump-1</option>
                    <option value="Pump-2">Pump-2</option>
                    <option value="Pump-3">Pump-3</option>
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="nozzle" class="mt-10 ml-4">Nozzle</label>
            </div>
            <div class="col-md-4 mb-3">
                <select class="form-control" id="nozzle" name="nozzle">
                    <option value="Nozzle-1">Nozzle-1</option>
                    <option value="Nozzle-2">Nozzle-2</option>
                    <option value="Nozzle-3">Nozzle-3</option>
                </select>
            </div>
            <button class="offset-6 btn btn-primary">Save</button>
        </div>
        <h1>Fuels</h1>
        <div class="col-12 mb-5 mt-3">
            <table class="table table-bordered tableTextCenter tableBgClr tableShadow tableHover">
                <thead>
                    <tr>
                        <th *ngFor="let table_head of fuel_table_head_list">{{table_head}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of table_data_Fuel; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.pump}}</td>
                        <td>{{data.nozzle}}</td>
                        <td>{{data.product}}</td>
                        <td>{{data.openingBalace}}</td>
                        <td>{{data.closingBalance}}</td>
                        <td>{{data.testing}}</td>
                        <td>{{data.saleFuelQty}}</td>
                        <td>{{data.ltrPrice}}</td>
                        <td>{{data.sales}}</td>
                        <td>
                            <i class="fas fa-edit cursor-pointer clr-gray" matTooltip="Edit"></i>&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-trash cursor-pointer clr-gray" matTooltip="Delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>Add Fuel</h1>
        <div class="divContainer form-group row">
            <div class="col-md-2 mb-3">
                <label for="totalFuelAmount" class="mt-10 ml-4">Fuel Amount</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Total Fuel Amount" class="form-control" id="totalFuelAmount" name="totalFuelAmount" value="1000">
            </div>
            <div class="col-md-2 mb-3">
                <label for="cardPayment" class="mt-10 ml-4">Card Payment</label>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" placeholder="Enter Card Payment" class="form-control" id="cardPayment" name="cardPayment">
            </div>
            <div class="col-md-1 mb-3">
                <button class="btn btn-outline-success btn-sm">Enter</button>
            </div>
            <div class="col-md-2 mb-3">
                <label for="creditSale" class="mt-10 ml-4">Credit Sale</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Credit Sale" class="form-control" id="creditSale" name="creditSale">
            </div>
            <div class="col-md-2 mb-3">
                <label for="checkPayment" class="mt-10 ml-4">Check Payment</label>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" placeholder="Enter Check Payment" class="form-control" id="checkPayment" name="checkPayment">
            </div>
            <div class="col-md-1 mb-3">
                <button class="btn btn-outline-success btn-sm">Enter</button>
            </div>
            <div class="col-md-2 mb-3">
                <label for="companyCard" class="mt-10 ml-4">Company Card</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Company Card" class="form-control" id="companyCard" name="companyCard">
            </div>
            <div class="col-md-2 mb-3">
                <label for="walletPayment" class="mt-10 ml-4">Wallet Payment</label>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" placeholder="Enter Wallet Payment" class="form-control" id="walletPayment" name="walletPayment">
            </div>
            <div class="col-md-1 mb-3">
                <button class="btn btn-outline-success btn-sm">Enter</button>
            </div>
            <div class="col-md-2 mb-3">
                <label for="bankCard" class="mt-10 ml-4">Bank Card</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Bank Card" class="form-control" id="bankCard" name="bankCard">
            </div>
            <div class="col-md-2 mb-3">
                <label for="expenses" class="mt-10 ml-4">Expenses</label>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" placeholder="Enter Expenses" class="form-control" id="expenses" name="expenses">
            </div>
            <div class="col-md-1 mb-3">
                <button class="btn btn-outline-success btn-sm">Enter</button>
            </div>
            <div class="col-md-2 mb-3">
                <label for="bShot" class="mt-10 ml-4">Balance Short</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Balance Short" class="form-control" id="total" name="total">
            </div>
            <div class="col-md-2 mb-3">
                <label for="total" class="mt-10 ml-4">Total</label>
            </div>
            <div class="col-md-3 mb-3">
                <input type="text" placeholder="Enter Total" class="form-control" id="total" name="total" value="10000">
            </div>
            <div class="col-md-3 mb-3">
                <label for="smsNotify" class="mt-10  ml-4">Allow SMS Notifications</label>
                <input type="checkbox" id="smsNotify" name="smsNotify" class="mt-3 ml-3">
            </div>
            <div class="col-md-3 mb-3">
            </div>
            <div class="col-md-3 mb-3">
                <label for="mailNotify" class="mt-10  ml-4">Allow Mail Notifications</label>
                <input type="checkbox" id="mailNotify" name="mailNotify" class="mt-3 ml-3">
            </div>
            <div class="col-md-3 mb-3">
            </div>
            <button class="offset-6 btn btn-primary">Save</button>
        </div>
    </div>
</div>