// th{
//     background-color: rgb(227, 241, 241);
// }
// td{
//     background-color: rgb(255, 255, 255);;
// }
// table,td,th{
//     border: 1px solid black;
// }
//     .userTable {
//         width: 110%;
//         margin-left: 15px;
//     }
//     .userTable tbody tr th {
//         width: 8%;
//         /* text-align: center; */
//     }
//     .userTable tbody tr td {
//         /* text-align: center; */
//         width: 12%;
//     }
//     .userTable tbody tr th:first-child {
//         width: 2%;
//     }
//     .userTable tbody tr td:first-child {
//         width: 2%;
//     }
//     .forTh>th{
//         background-color: rgb(227, 241, 241);
//     }
//     .userTable1 {
//         width: 150%;
//         margin-left: 55px;
//     }
//     .userTable1 tbody tr th {
//         width: 12%;
//         /* text-align: center; */
//     }
//     .userTable1 tbody tr td {
//         /* text-align: center; */
//         width: 12%;
//     }
//     input[type=text],
//     select,
//     textarea {
//         width: 100%;
//         height: 70%;
//         padding: 12px;
//         border: 1px solid #ccc;
//         border-radius: 4px;
//         resize: vertical;
//     }
//     label {
//         padding: 12px 12px 12px 0;
//         display: inline-block;
//     }
//     input[type=submit] {
//         background-color: #4CAF50;
//         color: white;
//         padding: 12px 20px;
//         border: none;
//         border-radius: 4px;
//         cursor: pointer;
//         /* float: right; */
//     }
//     input[type=submit]:hover {
//         background-color: #45a049;
//     }
//     .container {
//         border-radius: 5px;
//         padding: 20px;
//     }
//     .row:after {
//         content: "";
//         display: table;
//         clear: both;
//     }
//     .divContainer {
//         width: 90%;
//         margin: 0 auto;
//     }
//     /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
//     @media screen and (max-width: 600px) {
//         .col-25,
//         .col-75,
//         input[type=submit] {
//             width: 100%;
//             margin-top: 0;
//         }
//     }
//    label{
//        font-size: 20px; ;
//    }
//    footer{
//    line-height: 100px; 
//    margin-top: 100px;
//    }
//    table{
//        width: 500px;
//    }
.text-left {
    text-align: left !important;
}