<div class="container">


    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Sales

        </h1>
        <ol class="breadcrumb pull-right">
            <li><a routerLink='../home'><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active" id='sales'>Sales</li>
        </ol>
    </section>

    <div class="row">
        <div class="col-lg-3">
            <label for="fname">Sale Date</label>
        </div>
        <div class="col-lg-3">
            <input type="date">
        </div>
    </div>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="box-body">
                <!-- small box -->
                <table class="table table-bordered userTable1">
                    <tr>

                        <th style="width: 10px">#</th>
                        <th>Name</th>
                        <th>Shift</th>
                        <th>Pump</th>
                        <th>Nozzle</th>
                        <th>Total Sales</th>
                        <th style="width: 40px">Action</th>

                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Ramana</td>
                        <td>Shift-1</td>
                        <td>Pump-1</td>
                        <td>Nozzle-1</td>
                        <td>1,00,000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Krishna</td>
                        <td>Shift-2</td>
                        <td>Pump-2</td>
                        <td>Nozzle-1</td>
                        <td>20,000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Prasad</td>
                        <td>Shift-2, Shift-3</td>
                        <td>Pump-1</td>
                        <td>Nozzle-1</td>
                        <td>70,000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Ramesh</td>
                        <td>Shift-3</td>
                        <td>Pump-1</td>
                        <td>Nozzle-1</td>
                        <td>1,00,000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                </table>
                <div class="clearfix">
                    <input type="submit" value="Add Sale">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- ./col -->

        </div>
    </section>

    <div class="divContainer">

        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Primary Person</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="lname" name="lastname">
            </div>
            <div class="col-lg-3">
                <label for="fname">Secondary Person</label>
            </div>
            <div class="col-lg-3">
                <input type="text" id="lname" name="lastname">
            </div>


        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Shift</label>
            </div>
            <div class="col-lg-3">
                <select id="country" name="country" multiple>
                    <option value="australia">Shift-1</option>
                    <option value="canada">Shift-2</option>
                    <option value="usa">Shift-3</option>
                </select>
            </div>

            <div class="col-lg-3">
                <label for="fname">Pump</label>
            </div>
            <div class="col-lg-3">
                <select id="country" multiple>
                    <option value="australia">Pump-1</option>
                    <option value="canada">Pump-2</option>
                    <option value="usa">Pump-3</option>
                    <option value="usa">Pump-4</option>
                </select>
            </div>

        </div>

        <div class="row">


            <div class="col-lg-3">
                <label for="fname">Nozzle</label>
            </div>
            <div class="col-lg-3">
                <select id="country" multiple>
                    <option value="australia">Nozzle-1</option>
                    <option value="canada">Nozzle-2</option>
                    <option value="usa">Nozzle-3</option>
                    <option value="usa">Nozzle-4</option>
                </select>
            </div>

        </div>


    </div>

    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="box-body">
                <!-- small box -->
                <table class="table table-bordered userTable">
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Pump</th>
                        <th>Nozzle</th>
                        <th>Product</th>
                        <th>Opening Balance</th>
                        <th>Closing Balance</th>
                        <th>Testing</th>
                        <th>Sale Fuel Qty</th>
                        <th>Ltr Price</th>
                        <th>Sales</th>
                        <th style="width: 40px">Action</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Pump-1</td>
                        <td>Nozzle-1</td>
                        <td>Petrol</td>
                        <td>10000</td>
                        <td>2000</td>
                        <td>5</td>
                        <td>1000</td>
                        <td>70</td>
                        <td>5000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Pump-1</td>
                        <td>Nozzle-2</td>
                        <td>Diesel</td>
                        <td>10000</td>
                        <td>2000</td>
                        <td>5</td>
                        <td>1000</td>
                        <td>70</td>
                        <td>5000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>Pump-1</td>
                        <td>Nozzle-3</td>
                        <td>Diesel</td>
                        <td>10000</td>
                        <td>2000</td>
                        <td>5</td>
                        <td>1000</td>
                        <td>70</td>
                        <td>5000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                    <tr>
                        <td>4.</td>
                        <td>Pump-1</td>
                        <td>Nozzle-4</td>
                        <td>Diesel</td>
                        <td>10000</td>
                        <td>2000</td>
                        <td>5</td>
                        <td>1000</td>
                        <td>70</td>
                        <td>5000</td>
                        <td>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                    </tr>
                </table>
                <div class="clearfix">
                    <input type="submit" value="Add">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- ./col -->

        </div>
    </section>



    <div class="divContainer1">

        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Total Fuel Amount</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="fname" name="firstname" value="1,00,000">
            </div>


            <div class="col-lg-3">
                <label for="lname"> Card Payment</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="lname" name="lastname">

            </div>
            <div class="col-lg-1">
                <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#myModal">Enter</button>


                <!-- The Modal -->
                <div class="modal" id="myModal" style="font-family: cursive ;">
                    <div class="modal-dialog">
                        <div class="modal-content">

                           <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" style="font-family: cursive;">Swiping</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div *ngIf='swipeAdded' class="alert alert-success">Added Successfully</div>
                            

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="container">
                                    <table style="width: 50px; height: 1px; margin-left: 30px;"
                                        class="table table-bordered userTable">
                                        <tr class="forTh">


                                            <th>S.NO</th>
                                            <th>MMID</th>
                                            <th>CardPayments</th>
                                            <th>Action</th>


                                        </tr>
                                        <tr *ngFor='let swipe of swipingArray; let i=index'>
                                            <td>{{i+1}}</td>
                                            <td>{{swipe.mmid}}</td>
                                            <td>{{swipe.payment}}</td>
                                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i
                                                    class="fas fa-trash" style="color: red;"></i></td>
                                        </tr>
                                       
                                    </table>

                                    <ul class="pagination pagination-sm">
                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                    </ul>

                                    <button type="button" (click)='hideSwipe()'
                                        class="btn btn-outline-success btn-sm pull-right" *ngIf='!showAdd'>Add</button>



                                    <div *ngIf='showAdd' class="swipingAddDiv">
                                        <form [formGroup]='swipeForm' (ngSubmit)='swipeSubmit()'>

                                            <div class="row">
                                                <div class="col-lg-6"> <label for="">MMID</label></div>
                                                <div class="col-lg-6">
                                                    <select name="" id="" style="height: 50px;"  formControlName='mmid'>
                                                        <option value="1" selected disabled>Select MMID</option>
                                                        <option value="MMID1">MMID1</option>
                                                        <option value="MMID2">MMID2</option>
                                                        <option value="MMID3">MMID3</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6"> <label for="">Card Payment</label></div>
                                                <div class="col-lg-6">
                                                   <input type="text" formControlName='payment'>
                                                </div>
                                            </div>

                                           
                                            <button type="submit" class="btn btn-outline-success btn-sm pull-right">Save</button>


                                        </form>

                               

                                    </div>

                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">


                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>


            </div>

        </div>

        <div class="row">

            <div class="col-lg-3">
                <label for="lname">Credit Sale</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="lname" name="lastname">

            </div>

            <div class="col-lg-3">
                <label for="fname">Check Payment</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="fname" name="firstname">
            </div>

            <div class="col-lg-1">
                <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#check">Enter</button>
            </div>

            <!-- The Modal -->
            <div class="modal" id="check" style="font-family: cursive ;">
                <div class="modal-dialog" >
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h2 class="modal-title" style="font-family: cursive ;">Check Payment</h2>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">

                            <div class="container">
                                <table style="width: 1px;" class="table table-bordered">
                                    <tr>

<th>S.No</th>
                                        <th>Vendor Name</th>
                                        <th>Check No</th>
                                        <th>Bank Name</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                   



                                    </tr>
                                    <tr *ngFor='let check of checkArray; let i=index'>
                                        <td>{{i}}</td>
                                        <td>{{check.vendorName}}</td>
                                        <td>{{check.checkNo}}</td>
                                        <td>{{check.bankName}}</td>
                                        <td>{{check.amount}}</td>
                                        <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i
                                            class="fas fa-trash" style="color: red;"></i></td>
                                    </tr>
                         
                                </table>

                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-success">ADD</button>

                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Company Card</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="fname" name="firstname">
            </div>


            <div class="col-lg-3">
                <label for="lname">Wallet Payment</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="lname" name="lastname">

            </div>
            <div class="col-lg-1">
                <button class="btn btn-outline-success btn-sm" data-toggle="modal"
                    data-target="#myModal1">Enter</button>

                <!-- The Modal -->
                <div class="modal" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h2 class="modal-title" style="font-family: cursive;">Wallet Payment</h2>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="container divi">

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="fname" style="font-family: cursive; float: right;">
                                                Paytm</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" id="lname" name="lastname" value="50000">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="fname" style="font-family: cursive;float: right;"> Google
                                                Pay</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" id="lname" name="lastname" value="10000">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="fname" style="font-family: cursive; float: right;">
                                                MobiKwik</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" id="lname" name="lastname" value="20000">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label for="fname" style="font-family: cursive; float: right;"> Amazan
                                                Pay</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" id="lname" name="lastname" value="10000">
                                        </div>
                                    </div>






                                </div>

                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-success">Save</button>

                                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Bank Card</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="fname" name="firstname">
            </div>


            <div class="col-lg-3">
                <label for="lname">Expenses</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="lname" name="lastname">

            </div>
            <div class="col-lg-1">
                <button class="btn btn-outline-success btn-sm">Enter</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <label for="fname">Balance Short</label>
            </div>
            <div class="col-lg-2">
                <input type="text" id="fname" name="firstname">
            </div>


            <div class="col-lg-3">
                <label for="lname">Total</label>
            </div>
            <div class="col-lg-2">
                <input type="text" value="1,00,000">

            </div>
            <div class="col-lg-1">

            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="country">Allow SMS Notification</label>
            </div>
            <div class="col-lg-3">
                <input type="checkbox">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <input type="submit" value="Save">
            </div>
        </div>

    </div>

</div>