<div class="container">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Supplier

            </h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Supplier</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="box-body">
                    <!-- small box -->
                    <table class="table table-bordered userTable">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Contact Details</th>
                            <th style="width: 40px">Contact Person Name</th>
                             <th style="width: 40px">Mobile No</th>
                              <th style="width: 40px">Tale Fax</th>
                               <th style="width: 40px">E-Mail</th>
                            <th style="width: 40px">Action</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>HPCL</td>
                            <td>
                                Bangalore-560037
                            </td>
                            <td>Ramana</td>
                            <td>9123456789</td>
                            <td>123456</td>
                            <td>nandha@gmail.com</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                      
                        
                    </table>
                    <div class="clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- ./col -->

            </div>
        </section>
        <!-- /.row -->
        <section class="content-header">
            <h1>
                New Supplier

            </h1>

        </section>
        <div class="divContainer">
           
                <div class="row">
                    <div class="col-md-3">
                        <label for="fname">Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    </div>
              
               
                    <div class="col-md-3">
                        <label for="fname">Contact Person Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="">
                    </div>
                 
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="fname">Mobile No</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="">
                    </div>
                
                    <div class="col-md-3">
                        <label for="fname">Tale Fax</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="fname">Email</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="">
                    </div>
              
                </div>
                <div class="row">
                <div class="col-md-3">
                    <label for="subject">Address</label>
                </div>
                <div class="col-md-3">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                </div>
                </div>
      
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Save">
                    </div>
                </div>
          
        </div>


</div>