<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <label for="fname">Vendor</label>
        </div>
        <div class="col-lg-3">
            <select id="country" name="country" multiple>
                <option value="australia">Vendor-1</option>
                <option value="canada">Vendor-2</option>
                <option value="usa">Vendor-3</option>
              </select>
        </div>

        <div class="col-lg-3">
            <label for="fname">Check No</label>
        </div>
        <div class="col-lg-3">
            <input style="height: 40%;" type="text" id="lname" name="lastname"  >
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label for="fname"> Bank</label>
        </div>
        <div class="col-lg-3">
            <input type="text" id="lname" name="lastname"  >
        </div>

        <div class="col-lg-3">
            <label for="fname"> Amount</label>
        </div>
        <div class="col-lg-3">
            <input type="text" id="lname" name="lastname"  >
        </div>
    </div>
</div>