<div class="container">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Products

            </h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Products</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="box-body">
                    <!-- small box -->
                    <table class="table table-bordered userTable">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Product</th>
                            <th>Min Qty</th>
                            <th style="width: 40px">Product Type</th>
                            <th style="width: 40px">Description</th>
                            <th style="width: 40px">Action</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Petrol</td>
                            <td>0</td>
                            <td>oil</td>
                            <td>oil</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Diesel</td>
                            <td>0 </td>
                            <td>oil</td>
                            <td>oil</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Liquid Gas</td>
                            <td>0 </td>
                            <td>gas</td>
                            <td>gas</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Liquid Gas</td>
                            <td>0 </td>
                            <td>gas</td>
                            <td>gas</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>
                            
                        </tr>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- ./col -->

            </div>
        </section>
        <!-- /.row -->
        <section class="content-header">
            <h1>
                New Product

            </h1>

        </section>
      
       
        <div class="divContainer">
           
                <div class="row">
                    <div class="col-md-3">
                        <label for="fname">Name</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="fname" name="firstname" placeholder="Your name..">
                    </div>
              
                    <div class="col-md-3">
                        <label for="lname">Min Qty</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="country">Product Tpe</label>
                    </div>
                    <div class="col-md-3">
                        <select id="country" name="country">
                            <option value="australia">Oil</option>
                            <option value="canada">Gas</option>
                            <option value="usa">Petrol</option>
                          </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="subject">Description</label>
                    </div>
                    <div class="col-md-3">
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <input type="submit" value="Save">
                    </div>
                </div>
         
        </div>

</div>