<!-- <div class="container">

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Products

            </h1>
            <ol class="breadcrumb pull-right">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Products</li>
            </ol>
        </section>

        <section class="content">
            <div class="row">
                <div class="box-body">
                    <table class="table table-bordered userTable">
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Product</th>
                            <th>Min Qty</th>
                            <th style="width: 40px">Product Type</th>
                            <th style="width: 40px">Description</th>
                            <th style="width: 40px">Action</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>Petrol</td>
                            <td>0</td>
                            <td>oil</td>
                            <td>oil</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>Diesel</td>
                            <td>0 </td>
                            <td>oil</td>
                            <td>oil</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Liquid Gas</td>
                            <td>0 </td>
                            <td>gas</td>
                            <td>gas</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Liquid Gas</td>
                            <td>0 </td>
                            <td>gas</td>
                            <td>gas</td>
                            <td><i style="color: green;" class="fas fa-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash" style="color: red;"></i></td>

                        </tr>
                    </table>
                    <div class="clearfix">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
        <section class="content-header">
            <h1>
                New Product

            </h1>

        </section>


        <div class="divContainer">

            <div class="row">
                <div class="col-md-3">
                    <label for="fname">Name</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>

                <div class="col-md-3">
                    <label for="lname">Min Qty</label>
                </div>
                <div class="col-md-3">
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="country">Product Tpe</label>
                </div>
                <div class="col-md-3">
                    <select id="country" name="country">
                            <option value="australia">Oil</option>
                            <option value="canada">Gas</option>
                            <option value="usa">Petrol</option>
                          </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label for="subject">Description</label>
                </div>
                <div class="col-md-3">
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Save">
                </div>
            </div>

        </div>

    </div> -->

<div class="container-fluid">
    <div class="offset-md-2 col-md-8 col-lg-8 offset-lg-2">
        <h1 class="mt-3">Products</h1>
        <div class="col-12 mb-5">
            <table class="table table-bordered tableTextCenter tableBgClr tableShadow tableHover">
                <thead>
                    <tr>
                        <th *ngFor="let table_head of table_head_list">{{table_head}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of table_data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.productName}}</td>
                        <td>{{data.minQty}}</td>
                        <td>{{data.productType}}</td>
                        <td>{{data.description}}</td>
                        <td>
                            <i class="fas fa-edit cursor-pointer clr-gray" matTooltip="Edit"></i>&nbsp;&nbsp;&nbsp;
                            <i class="fas fa-trash cursor-pointer clr-gray" matTooltip="Delete"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h1>New Product</h1>
        <div class="divContainer form-group row">
            <div class="col-md-2 mb-3">
                <label for="productName" class="mt-10 ml-4">Product Name</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Product Name" class="form-control" id="productName" name="productName">
            </div>
            <div class="col-md-2 mb-3">
                <label for="minQty" class="mt-10 ml-4">Min Qty</label>
            </div>
            <div class="col-md-4 mb-3">
                <input type="text" placeholder="Enter Min Qty" class="form-control" id="minQty" name="minQty">
            </div>
            <div class="col-md-2 mb-3">
                <label for="productType" class="mt-10 ml-4">Product Type</label>
            </div>
            <div class="col-md-4 mb-3">
                <select class="form-control" id="productType" name="productType">
                        <option value="oil">Oil</option>
                        <option value="gas">Gas</option>
                        <option value="petrol">Petrol</option>
                    </select>
            </div>
            <div class="col-md-2 mb-3">
                <label for="description" class="mt-10 ml-4">Description</label>
            </div>
            <div class="col-md-4 mb-3">
                <textarea placeholder="Enter Description" class="form-control" id="description" name="description"></textarea>
            </div>
            <button class="offset-6 btn btn-primary">Save</button>
        </div>
    </div>
</div>