// th{
//     background-color: rgb(163, 178, 228);
//     border: 1px solid black;
// }
// td{
//     background-color: rgb(219, 226, 243);
//     border: 1px solid black;
// }
// .userTable {
//     width: 150%;
//     margin-left: 55px;
// }
// table{
//     border: 2px solid black;
// }
// .userTable tbody tr th {
//     width: 8%;
//     /* text-align: center; */
// }
// .userTable tbody tr td {
//     /* text-align: center; */
//     width: 8%;
// }
// .userTable tbody tr th:first-child {
//     width: 2%;
// }
// .userTable tbody tr td:first-child {
//     width: 2%;
// }
// input[type=text],
// select,
// textarea {
//     width: 100%;
//     height: 70%;
//     padding: 12px;
//     border: 1px solid #ccc;
//     border-radius: 4px;
//     resize: vertical;
// }
// label {
//     padding: 12px 12px 12px 0;
//     display: inline-block;
// }
// input[type=submit] {
//     background-color: #4CAF50;
//     color: white;
//     padding: 12px 20px;
//     border: none;
//     border-radius: 4px;
//     cursor: pointer;
//     /* float: right; */
// }
// input[type=submit]:hover {
//     background-color: #45a049;
// }
// .container {
//     border-radius: 5px;
//     padding: 20px;
// }
// /* Clear floats after the columns */
// .row:after {
//     content: "";
//     display: table;
//     clear: both;
// }
// .divContainer {
//     width: 90%;
//     margin: 0 auto;
// }
// /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//     .col-25,
//     .col-75,
//     input[type=submit] {
//         width: 100%;
//         margin-top: 0;
//     }
// }