<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <label for="fname">Pump</label>
        </div>
        <div class="col-lg-3">
            <select name="" style="height:80px;" id="" multiple >
                <option value="">Pump 1</option>
                <option value="">Pump 2</option>
                <option value="">Pump 3</option>
            </select>
        </div>

        <div class="col-lg-3">
            <label for="fname">Diesel</label>
        </div>
        <div class="col-lg-3">
            <select name="" style="height:80px;" id="" multiple >
                <option value="">Diesel 1</option>
                <option value="">Diesel 2</option>
                <option value="">Diesel 3</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <label for="fname">Petrol</label>
        </div>
        <div class="col-lg-3">
            <select name="" style="height:80px;" id="" multiple >
                <option value="">Petrol 1</option>
                <option value="">Petrol 2</option>
                <option value="">Petrol 3</option>
            </select>
        </div>

</div>