   // // input[type=text],
   // // select,
   // // textarea {
   // //     width: 100%;
   // //     height: 60%;
   // //     padding: 12px;
   // //     border: 1px solid #ccc;
   // //     border-radius: 4px;
   // //     resize: vertical;
   // // }
   // // label {
   // //     padding: 12px 12px 12px 0;
   // //     display: inline-block;
   // //     font-size: 20px;
   // // }
   // // input[type=submit] {
   // //     background-color: #4CAF50;
   // //     color: white;
   // //     padding: 12px 20px;
   // //     border: none;
   // //     border-radius: 4px;
   // //     cursor: pointer;
   // //     /* float: right; */
   // // }
   // // input[type=submit]:hover {
   // //     background-color: #45a049;
   // // }
   // .container {
   //     border-radius: 5px;
   //     padding: 20px;
   // }
   // .row:after {
   //     content: "";
   //     display: table;
   //     clear: both;
   //     margin-top: 100px;
   // }
   // td>tr{
   // }
   // th{
   //     background-color: rgb(215, 233, 236);
   // }