<!-- <div class="container">

    <h2 style="font-family: cursive;">Pump & Nozzle</h2>

    <table  style="width: 50%; margin-left: 20%;" class="table table-bordered userTable">
        <tr>   
            <th>S.NO</th>
            <th>Pump</th>
            <th>Nozzle</th>
            <th>Product</th>
                     
        </tr>
        <tr>
            <td>1.</td>
            <td>Pump1</td>
          
           <td>
            <tr>N1</tr>
            <tr>N1</tr>
            <tr>N1</tr>
        </td>
        <td>
            <tr>Diesel</tr>
            <tr>Diesel</tr>
            <tr>Petrol</tr>
        </td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Pump2</td>
            <td>
                <tr>N1</tr>
                <tr>N2</tr>
                <tr>N3</tr>
            </td>
            <td>
                <tr>Diesel</tr>
                <tr>Diesel</tr>
                <tr>Petrol</tr>
            </td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Pump3</td>
           
            <td>
                <tr>N1</tr>
                <tr>N2</tr>
                <tr>N3</tr>
            </td>
            <td>
                <tr>Diesel</tr>
                <tr>Diesel</tr>
                <tr>Petrol</tr>
            </td>
        </tr>
       
    </table>

</div> -->


<div class="container-fluid">
    <div class="offset-md-2 col-md-8 col-lg-8 offset-lg-2">
        <h1 class="mt-3">Pump & Nozzle</h1>
        <div class="col-12 mb-5">
            <table class="table table-bordered tableTextCenter tableBgClr tableShadow tableHover">
                <thead>
                    <tr>
                        <th *ngFor="let table_head of table_head_list">{{table_head}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of table_data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.pump}}</td>
                        <td>
                            <span *ngFor="let nozzole of data.nozzles" class="display-block">{{nozzole}}</span>
                        </td>
                        <td>
                            <span *ngFor="let product of data.products" class="display-block">{{product}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>